.calendar {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0.75rem 0.5rem;

  &__header {
    margin-bottom: 0.5rem;

    &-month_switcher {
      display: grid;
      grid-template-columns: 10% auto 10%;
      align-items: center;
      margin-bottom: 1rem;

      .arrow {
        &__next-month, &__previous-month {
          font-size: 1.5rem;
          cursor: pointer;
          transition: transform 0.4s;
        }
        &__next-month:hover {
          transform: translateX(2px) scale(1.2);
        }
        &__previous-month:hover {
          transform: translateX(-2px) scale(1.2);
        }
      }
    }
    &-weeks {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
    }
    &-week-day {
      padding: 0.5rem;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    &-day {
      padding: 0.75rem 0;
      margin: 0 0.25rem;
      cursor: pointer;
      border-radius: 50%;

      transition: background-color 0.4s linear;

      &.prev-month, &.next-month, &.disabled {
        color: #999;
        pointer-events: none;
      }

      &.today {
        color: #08c;
        border: thin solid;
      }

      &.selected {
        font-weight: 600;
        background-color: #08c;
        color: #fff;
        border-radius: 0.25rem;
      }

      &:hover:not(.prev-month):not(.next-month):not(.disabled):not(.today):not(.selected) {
        background-color: #ccc;
      }
    }
  }
}